body{
    background-color: aquamarine;
}
.login {
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .input{
        width: 20%;
    }
}

.chatDisplay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .inputBody{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        .input{
            display: flex;
        }
    }
    .source{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .chat{
        display: flex;
        justify-content: space-between;
        background-color:white;
        width: 60%;
        height: 60%;
        overflow: auto;
        .message{
            display: flex;
            p{
                margin: 10px;
            }
        }
    }
}